.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.editor{
  border: 2px solid rgb(132, 132, 221);
  height: 70vh;
  margin: 2rem;
  padding: 1rem;
}

.head-button{
  margin-top: 1rem;
  padding: 5px;
  background-color: #dee0e2; /* bg-blue-500 */
  color: #161313; /* text-white */
  font-weight: bold; /* font-bold */
  padding: 0.5rem 1rem; /* py-2 and px-4 */
  border-bottom: 4px solid #040506; /* border-b-4 and border-blue-700 */
  border-right: 4px solid #040506; /* border-b-4 and border-blue-700 */
  border-radius: 0.25rem; /* rounded */
  transition: background-color 0.2s, border-color 0.2s;
}

.main{
  justify-content: space-between;
  display: flex;
  padding-top: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
